.title{
    width: 35%;
    font-family: cursive;
    border-bottom: 0.25rem solid white;
    letter-spacing: 0.3rem;
}
.index{
    margin-top: 5%;
    margin-left: 15%;
    color:white;

}
body{
    background-color: black;
}